In [1]:
from flights.amadeus import get_flights

In [2]:
get_flights(start='LPA', end='AGP', when='2024-08-10') \
    .assign(price_eur=lambda x: x['price_eur'] / 4)

,airline,departure,t_from,arrival,price_eur,t_to
0,IBERIA,2024-08-10T13:20:00,0,2024-08-10T16:40:00,44.5225,0
1,VUELING AIRLINES,2024-08-10T13:20:00,0,2024-08-10T16:40:00,44.5225,0
2,IBERIA,2024-08-10T20:15:00,0,2024-08-10T23:35:00,44.5225,0
3,VUELING AIRLINES,2024-08-10T20:15:00,0,2024-08-10T23:35:00,44.5225,0

In [3]:
get_flights(start='AGP', end='VNO', when='2024-08-10', range=20)

,airline,departure,t_from,arrival,price_eur,t_to
0,AIR BALTIC,2024-08-10T18:35:00,0,2024-08-10T23:50:00,160.05,0
1,AIR BALTIC,2024-08-17T18:35:00,0,2024-08-17T23:50:00,124.05,0
2,AIR BALTIC,2024-08-24T18:35:00,0,2024-08-24T23:50:00,124.05,0

In [4]:
get_flights(start='RIX', end='MAD', when='2024-09-08')

      airline            departure  t_from              arrival price_eur t_to
0  AIR BALTIC  2024-09-08T13:10:00       0  2024-09-08T16:20:00    114.32    4
1      IBERIA  2024-09-08T13:10:00       0  2024-09-08T16:20:00    267.32    4

In [5]:
get_flights(start='MAD', end='LPA', when='2024-09-08') \
    .assign(price_eur=lambda x: x['price_eur'] / 4)

,airline,departure,t_from,arrival,price_eur,t_to
0,IBERIA,2024-09-08T00:05:00,4,2024-09-08T02:00:00,24.20,0
1,VUELING AIRLINES,2024-09-08T00:05:00,4,2024-09-08T02:00:00,41.95,0
2,IBERIA,2024-09-08T06:55:00,4,2024-09-08T08:50:00,24.20,0
3,VUELING AIRLINES,2024-09-08T06:55:00,4,2024-09-08T08:50:00,41.95,0
4,BINTER CANARIAS,2024-09-08T07:00:00,2,2024-09-08T08:50:00,32.20,0
5,AIR EUROPA,2024-09-08T07:05:00,2,2024-09-08T09:00:00,18.825,0
6,IBERIA,2024-09-08T11:30:00,4,2024-09-08T13:25:00,35.45,0
7,BINTER CANARIAS,2024-09-08T12:30:00,2,2024-09-08T14:20:00,32.20,0
8,IBERIA,2024-09-08T14:25:00,4,2024-09-08T16:20:00,56.95,0
9,VUELING AIRLINES,2024-09-08T14:25:00,4,2024-09-08T16:20:00,41.95,0
10,AIR EUROPA,2024-09-08T15:05:00,2,2024-09-08T17:00:00,34.325,0
11,IBERIA,2024-09-08T16:20:00,4,2024-09-08T18:20:00,66.95,0
12,VUELING AIRLINES,2024-09-08T16:20:00,4,2024-09-08T18:20:00,41.95,0
13,BINTER CANARIAS,2024-09-08T17:00:00,2,2024-09-08T18:50:00,37.20,0
14,IBERIA,2024-09-08T18:35:00,4,2024-09-08T20:30:00,66.95,0
15,VUELING AIRLINES,2024-09-08T18:35:00,4,2024-09-08T20:30:00,41.95,0
16,BINTER CANARIAS,2024-09-08T20:00:00,2,2024-09-08T21:50:00,34.70,0
17,AIR EUROPA,2024-09-08T20:10:00,2,2024-09-08T22:05:00,44.325,0
18,IBERIA,2024-09-08T20:25:00,4,2024-09-08T22:20:00,66.95,0
19,IBERIA,2024-09-08T22:50:00,4,2024-09-09T00:45:00,41.95,0